.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.product-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}
.cart {
  background-color: red;
}

@media only screen and (max-width: 600px) {
  .product-container {
    grid-template-columns: 1fr;
  }
  .cart {
    width: 100%;
    /* max-width: 600px; */
    margin: 0 auto;
  }
  .shop-container {
    grid-template-columns: 1fr;
  }
  body {
    background-color: lightblue;
  }
}
