.cart-info {
  padding: 15px;
  position: sticky;
  top: 0;
}
.cart-info button {
  display: block;
  padding: 8px;
  margin: 5px auto;
  cursor: pointer;
}
.cart-info button:hover {
  background-color: rgb(55, 189, 189);
}
